.label {
  width: 100%;
  padding: 11px 0;
  @include flex(center, space-between);

  .property {
    padding: 4px 9px;
    @include font(poppins, 14px, 400);
    color: var(--color-1);
    background-color: var(--primary-color);
    border-radius: 2px;
  }

  .value {
    color: var(--color-2);
    @include font(poppins, 17px, 500);
  }
}

.column.service {
  @include flex(center, space-between, column, 11px);
  text-align: center;
}

.service_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include flex(center, center);
  font-size: 32px;
  color: var(--white);
  background-color: var(--primary-color);
}

.column.pricing {
  @include flex(center, space-between, column, 20px);
}

.pricing_icon {
  font-size: 34px;
  color: var(--primary-color);
  @include flex(center, center, column, 5px);
}

.price {
  @include font(poppins, 42px, 600);
  color: var(--secondary-color);
  @include flex(center, center, row, 7px);

  > svg {
    font-size: 16px;
    align-self: flex-start;
    margin-top: 9px;
  }

  > span {
    @include font(poppins, 16px, 400);
    color: var(--color-2);
    align-self: flex-end;
    margin-bottom: 7px;
  }
}

ul.package_features {
  list-style: none;
  text-align: center;
  color: var(--color-2);
  @include font(roboto, 16px, 400);
  @include flex(center, center, column);

  > li {
    margin: 10px 0;

    > span {
      padding: 5px;
      display: inline-block;
      vertical-align: middle;
      @include font(roboto, 13px, 300);
      color: var(--secondary-color);
      border-radius: 2px;
      background-color: rgba(20, 58, 170, 0.15);
    }
  }
}

a.order {
  width: 100%;
  padding: 20px;
  @include flex(center, center, row, 5px);
  @include font(poppins, 14px, 600);
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid var(--color-3);

  &:hover {
    color: var(--primary-color);
  }
}

.column.clients {
  flex-basis: 25%;
  @include flex(center, center);
  border-left: none;
  border-right: 1px solid var(--color-4);

  > img {
    width: 75%;

    @media (max-width: 768px) {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    flex-basis: 50%;
  }
}

.column.fun_facts {
  flex-basis: 25%;
  @include flex(center, center, column, 10px);
  border-left: none;
  border-right: 1px solid var(--color-4);

  > svg {
    font-size: 34px;
    color: var(--primary-color);
  }

  > p {
    @include font(poppins, 16px, 400);
    color: var(--color-2);
    text-align: center;
  }

  @media (max-width: 768px) {
    flex-basis: 50%;
  }
}
